.remove-box-button {
    position: absolute;
    font-family: sans-serif;
    font-weight: 1000;
    top: 5px;
    right: 25px;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    color: gray;
    font-size: 20px;
    padding: 0;
    line-height: 20px;
}

.add-box-button {
    background: transparent;
    border: none;
    color: gray;
    font-size: 20px;
    width:100%;
    height:100%;
}