.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--secondary-color);
    color: #aaaaaa;
    font-size: 15px;
    margin: 0;
    z-index: 1;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav h1 {
    font-weight: normal;
    font-size: 15px;
    margin: 15px 15px 7px;
}

.nav ul {
    margin: 15px 0 2px;
}

.nav h1 a {
    display: inline-block;
}

.nav li {
    display: inline-block;
    margin: 0 20px;
    min-width: 40px;
    padding: 0;
}

.nav a::after {
    content: " ";
    display: block;
    width: 0px;
    height: 3px;
    background-color: var(--primary-color);
    margin: 3px auto 3px;
    padding: 0;
    transition: width 0.3s ease;
    
}

.nav a:hover::after {
    width: min(100%, 30px);
}

.nav a[select="true"] {
    color: var(--primary-color);
}