.panel {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 2;
    
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(3px);
}