.pop-up {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: calc(100% - 90px);
    max-width: 720px;
    max-height: 90%;
    padding: 10px 25px;
    z-index: 10;
}

.pop-up ul {
    list-style-type: circle;
    list-style-position: inside;
}

.pop-up-content {
    text-align: left;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: auto;
    padding: 0 20px;
    max-height: calc(81vh - 150px);
}