.pop-up {
    max-width: 450px;
    height: 90%;
    padding: 10px 25px;
}

.pop-up ul {
    list-style-type: circle;
    list-style-position: inside;
}

.pop-up-content {
    text-align: left;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: auto;
    padding: 0 20px;
    height: calc(100% - 130px);
}