.slider {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    padding: 0 20px;
}
input[type=range] {
    accent-color: var(--primary-color);
    margin: 10px auto;
}

input[type=range]:active {
    accent-color: var(--primary-color);

}
/*

input[type=range] {
  -webkit-appearance: none; 
  appearance: none;
  width: 100%;
  height: 25px;
  background: var(--secondary-color);
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
 Mouse-over effects
input[type=range]:hover {
  opacity: 0.9;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: var(--primary-color);
  cursor: pointer; 
}

input[type=range]::-moz-range-thumb {
  width: 25px; 
  height: 25px; 
  background: var(--primary-color);
  cursor: pointer;
}

/*
input[type=range]::-webkit-slider-runnable-track {
    background: var(--primary-color);
}


input[type=range]::-moz-range-progress {
    background: var(--primary-color);
}*/