
@import url("/style/frostedglassmorphism.css");

@import url("/style/input.css");
@import url("/style/main.css");
@import url("/style/nav.css");
@import url("/style/neumorphism.css");
@import url("/style/panel.css");
@import url("/style/slider.css");
@import url("/style/hamburger.css");

@import url("/style/ui/box.css");
@import url("/style/ui/pop-up.css");
@import url("/style/ui/toggle-box.css");