@font-face {
    font-family: 'KBO-Dia-Gothic_medium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'KBO-Dia-Gothic_Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Bold.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

body {
    width: 100%;
    height: 100%;
}

:root {
    --primary-color: #6799fa;
    --secondary-color: #2c3e50;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ol {
    list-style-position: inside;
    padding-inline-start: 0px;

}

ol li, ul li {
    margin: 15px auto;
}

body {
    font-family: 'KBO-Dia-Gothic_medium', Arial, sans-serif;
    background-color: #f0f2f5;
    color: #333;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}

input {
    font-family: 'KBO-Dia-Gothic_medium', Arial, sans-serif;
}

input[type=file] {
    color: #333;
}

h1 {
    font-size: 20px;
}

input[type=file]::file-selector-button{
    background-color: var(--primary-color);;
    color: white;
    font-family: 'KBO-Dia-Gothic_medium', Arial, sans-serif;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
}

button {
    font-family: 'KBO-Dia-Gothic_medium', Arial, sans-serif;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
}

select {
    font-family: 'KBO-Dia-Gothic_medium', Arial, sans-serif;
    padding: 6px 12px;
}

details > div {
    padding-bottom: 10px;
}

summary h1 {
    display: inline-block;
    font-size: 20px;
}

table {
  width: 100%;
  margin: 20px 0;
  table-layout: fixed;
  border-collapse: collapse; /* 테이블 셀 간의 간격 제거 */
}

th, td {
  border: 1px solid #ddd; /* 셀 테두리 */
  padding: 8px;
}

th {
  background-color: #f2f2f2; /* 헤더 배경색 */
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.container {
    max-width: 750px;
    text-align: center;
    position: relative;
    padding: 10px 30px;
    margin: 20px auto;
}

.input-section {
    margin-bottom: 20px;
    text-align: left;
}


@media screen and (max-width: 309px) {
    
    #wrapper {
        padding: 120px 20px 120px;
    }
}

@media screen and (min-width: 309px) {

    #wrapper {
        padding: 60px 20px 120px;
    }

}

@media screen and (max-width: 198px) {

    #wrapper {
        padding: 150px 20px 120px;
    }

}

#video-files {
    display: block;
    margin-top: 5px;
}

#file-list-info {
    font-size: 0.9em;
    color: #666;
    margin-top: 10px;
}

#process-button {
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

#process-button:disabled {
    background-color: var(--secondary-color);
    cursor: not-allowed;
}

#process-button:hover:not(:disabled) {
    background-color: var(--secondary-color);
}

#status-section {
    margin-top: 20px;
}

#status-message {
    font-weight: bold;
}

#progress-bar-container {
    background-color: var(--secondary-color);
    border-radius: 5px;
    height: 10px;
    margin: 10px;
}

#progress-bar {
    background-color: var(--primary-color);
    height: 100%;
    width: 0;
    border-radius: 5px;
    transition: width 0.3s ease;
}

#download-section {
    margin-top: 20px;
}

#download-link {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#download-link:hover {
    background-color: var(--primary-color);
}

.viewer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.outputImage {
    width: 100%;
    height: 100%;
}

#outputChart {
    width: 100%;
    height: 50%;
}

#frameSlider {
    width: 100%;
}

#frameInfo {
    margin-top: 10px;
    font-size: 1.2em;
}