<h2 class="section-title">소개</h2>
<div class="about-wrapper">
  <!-- 왼쪽: 프로필 사진 섹션 -->
  <div class="about-profile-side">
      <img src="{{ site.baseurl }}/img/myicon.png" alt="Profile" class="profile-img">
  </div>

  <!-- 오른쪽: 텍스트 및 정보 섹션 -->
  <div class="about-text-side">
    
    <div class="about-description">
      {% assign about_doc = site.about | where: "title", "about_main" | first %}
      {% if about_doc %}
        {{ about_doc.content | markdownify }}
      {% endif %}
    </div>
  </div>
</div>