<div class="portfolio-flex-item portfolio-item">
  <a href="{{ include.url }}" title="{{ include.summary }}" class="portfolio-link">
    <div class="portfolio-inner">
      <div class="box-modal">
        <div class="caption">
          <div class="caption-content">
            <i class="fa fa-search-plus fa-1.5x"></i>
          </div>
        </div>
        <img src="{{ include.thumbnail }}" class="img-modal" alt="{{ include.title }}">
      </div>
    </div>
    <p class="portfolio-txt">{{ include.title }}</p>
  </a>
</div>