.toggle {
    position: absolute;
    padding-bottom: 70px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: calc(100% - 70px);
    max-width: 750px;
}

.toggle .close-btn {
    position: absolute;
    font-family: sans-serif;
    font-weight: 1000;
    top: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    color: gray;
    font-size: 20px;
    padding: 0;
    line-height: 20px;
}

.toggle-btn {
    position: absolute;
    font-family: sans-serif;
    font-weight: 1000;
    top: 5px;
    right: 45px;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    color: gray;
    font-size: 20px;
    padding: 0;
    line-height: 20px;
}

.toggle-content, .toggle .content {
    transition: max-height 2s cubic-bezier(0, 1, 0, 1);
    max-height: calc(81vh - 150px);
    height: 100vh;
}

*[data-state="min"] .toggle-content,
*[data-state="min"] .toggle .content,
*[data-state="min"] .toggle-content-a {
    max-height: 150px;
}

.panel:has(.toggle) {
    z-index: 1;
}

.frostedglassmorphism:has(.toggle) {
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(1px);
}