.toggle {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 70px);
    max-width: 750px;
}

.toggle .close-btn {
    position: absolute;
    font-family: sans-serif;
    font-weight: 1000;
    top: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    color: gray;
    font-size: 20px;
    padding: 0;
    line-height: 20px;
}

.toggle-btn {
    position: absolute;
    font-family: sans-serif;
    font-weight: 1000;
    top: 5px;
    right: 45px;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    color: gray;
    font-size: 20px;
    padding: 0;
    line-height: 20px;
}

.toggle-content,
.toggle-content-a {
    min-height: 50px;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: max-height 2s cubic-bezier(0, 1, 0, 1);
}

.toggle-content {
    max-height: calc(81vh - 150px);
}

.toggle-content-a {
    max-height: calc(68vh - 150px);
}

*[data-toggle="min"] .toggle-content,
*[data-toggle="min"] .toggle-content-a {
    max-height: calc(150px);
}
/*
.frostedglassmorphism {
    background: rgba(200, 200, 200, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(1px);
}*/