<details style="padding: 5px;">
    <hr>
    <summary>
        <input class="player-name" type="text" value="batter"/>
    </summary>
    <div>
        <button class="save-csv">저장</button>
        <input class='read-csv-file' type="file"
            accept=".csv" style="display:none;" >
        <button class="read-csv">불러오기</button>
        
    </div>
    <div class="input-form">
        <div class="input-group">
            타석:
            <b class="input_cumulative_pa"></b>
        </div>
        <div class="input-group">
            타수:
            <b class="input_cumulative_ab"></b>
        </div>
        <div class="input-group">
            안타:
            <b class="input_cumulative_hit"></b>
        </div>
        <div class="input-group">
            출루:
            <b class="input_cumulative_ob"></b>
        </div>
        <div class="input-group">
            장타수:
            <b class="input_cumulative_tb"></b>
        </div>
    </div>
    <div class="input-form">
        <div class="input-group">
            타율:
            <b class="input_cumulative_ba"></b>
        </div>
        <div class="input-group">
            출루율:
            <b class="input_cumulative_oba"></b>
        </div>
        <div class="input-group">
            장타율:
            <b class="input_cumulative_slg"></b>
        </div>
        <div class="input-group">
            OPS:
            <b class="input_cumulative_ops"></b>
        </div>
    </div>
    <hr>
    <div class="input-form">
        <div class="input-group">
            <label for="input_cumulative_gb">
                땅볼 아웃(GB)
            </label>
            <input type="number" class="input_cumulative_gb" value="114" step="1" min="0">
        </div>
        <div class="input-group">
            <label for="input_cumulative_fb">
                뜬공 아웃(FB)
            </label>
            <input type="number" class="input_cumulative_fb" value="138" step="1" min="0">
        </div>
        <div class="input-group">
            <label for="input_cumulative_so">
                삼진(SO)
            </label>
            <input type="number" class="input_cumulative_so" value="89" step="1" min="0">
        </div>
    </div>
    <hr>

    <div class="input-form">
        <div class="input-group">
            <label for="input_cumulative_bb">
                볼넷
            </label>
            <input type="number" class="input_cumulative_bb" value="111" step="1" min="0">
        </div>
        <div class="input-group">
            <label for="input_cumulative_sh">
                단타(SH)
            </label>
            <input type="number" class="input_cumulative_sh" value="65" step="1" min="0">
        </div>
        <div class="input-group">
            <label for="input_cumulative_dh">
                2루타(DH)
            </label>
            <input type="number" class="input_cumulative_dh" value="23" step="1" min="0">
        </div>
        <div class="input-group">
            <label for="input_cumulative_th">
                3루타(TH)
            </label>
            <input type="number" class="input_cumulative_th" value="0" step="1" min="0">
        </div>
        <div class="input-group">
            <label for="input_cumulative_hr">
                홈런(HR)
            </label>
            <input type="number" class="input_cumulative_hr" value="56" step="1" min="0">
        </div>
    </div>
    <hr>
    <div class="input-form">
        <div class="input-group">
            <label for="input_cumulative_sacrifice">
                희생타
            </label>
            <input type="number" class="input_cumulative_sacrifice" value="6" step="1" min="0">
        </div>
        <p style="font-size: 0.9em; color: #666;">
            ※ 희생타는 기대 득점에 반영되지 않지만, 누적 스탯으로 산출되어 예시로 보여지는 타율, 출루율, 장타율을 정확하게 표시하기 위해 사용됩니다.
        </p>
    </div>
    <hr>
</details>