<details style="padding: 10px;">
    <hr>
    <summary>
        <input class="player-name" type="text" value="batter" />
    </summary>
    <div class="input-form">
        <div class="input-group">
            타석:
            <b class="input-batter-pa"></b>
        </div>
        <div class="input-group">
            타수:
            <b class="input-batter-ab"></b>
        </div>
        <div class="input-group">
            안타:
            <b class="input-batter-hit"></b>
        </div>
        <div class="input-group">
            출루:
            <b class="input-batter-ob"></b>
        </div>
        <div class="input-group">
            장타수:
            <b class="input-batter-tb"></b>
        </div>
    </div>
    <div class="input-form">
        <div class="input-group">
            타율:
            <b class="input-batter-ba"></b>
        </div>
        <div class="input-group">
            출루율:
            <b class="input-batter-oba"></b>
        </div>
        <div class="input-group">
            장타율:
            <b class="input-batter-slg"></b>
        </div>
        <div class="input-group">
            OPS:
            <b class="input-batter-ops"></b>
        </div>
    </div>
    <hr>

    <div class="input-form">
        <div class="input-group">
            <label for="input-batter-bb">
                볼넷
            </label>
            <input type="number" class="input-batter-bb" value="111" step="1" min="0">
        </div>
        <div class="input-group">
            <label for="input-batter-1B">
                단타(1B)
            </label>
            <input type="number" class="input-batter-1B" value="65" step="1" min="0">
        </div>
        <div class="input-group">
            <label for="input-batter-2B">
                2루타(2B)
            </label>
            <input type="number" class="input-batter-2B" value="23" step="1" min="0">
        </div>
        <div class="input-group">
            <label for="input-batter-3B">
                3루타(3B)
            </label>
            <input type="number" class="input-batter-3B" value="0" step="1" min="0">
        </div>
        <div class="input-group">
            <label for="input-batter-hr">
                홈런(HR)
            </label>
            <input type="number" class="input-batter-hr" value="56" step="1" min="0">
        </div>
    </div>
    <hr>
    <div class="input-form">
        <div class="input-group">
            <label for="input-batter-go">
                땅볼 아웃(GB)
            </label>
            <input type="number" class="input-batter-go" value="117" step="1" min="0">
        </div>
        <div class="input-group">
            <label for="input-batter-fo">
                뜬공 아웃(FB)
            </label>
            <input type="number" class="input-batter-fo" value="135" step="1" min="0">
        </div>
        <div class="input-group">
            <label for="input-batter-so">
                삼진(SO)
            </label>
            <input type="number" class="input-batter-so" value="89" step="1" min="0">
        </div>

        <div class="input-group">
            <label for="input-batter-sac">
                희생번트(SAC)
            </label>
            <input type="number" class="input-batter-sac" value="0" step="1" min="0">
        </div>
        <div class="input-group">
            <label for="input-batter-sf">
                희생플라이(SF)
            </label>
            <input type="number" class="input-batter-sf" value="6" step="1" min="0">
        </div>
        <p style="font-size: 0.9em; color: #666;">
            ※ 희생번트, 희생플라이는 기대 득점에 반영되지 않지만, 누적 스탯으로 산출되어 예시로 보여지는 타율, 출루율, 장타율을 정확하게 표시하기 위해 사용됩니다.
        </p>
    </div>
    <hr>
    <div>
        <button class="save-csv">저장</button>
        <input class='read-csv-file' type="file" accept=".csv" style="display:none;">
        <button class="read-csv">불러오기</button>

    </div>
    <hr>
</details>