<h3>1루 주자 2루 도루</h3>
<div class="input-form">
    <div class="input-group">
        <label for="input_runner_s_r1_r2_safe">
            성공률
        </label>
        <input type="number" class="input_runner_s_r1_r2_safe" value="0.10" step="0.01" min="0" max="1">
    </div>

    <div class="input-group">
        <label for="input_runner_s_r1_r2_out">
            실패율
        </label>
        <input type="number" class="input_runner_s_r1_r2_out" value="0.03" step="0.01" min="0" max="1">
    </div>
    <b class="input_runner_s_r1_r1_safe" style="display:none;"></b>
</div>
<hr>
<h3>단타: 2루 주자 홈 득점</h3>
<div class="input-form">
    <div class="input-group">
        <label for="input_runner_1B_r2_home_safe">
            성공률
        </label>
        <input type="number" class="input_runner_1B_r2_home_safe" value="0.40" step="0.01" min="0" max="1">
    </div>
    <div class="input-group">
        <label for="input_runner_1B_r2_home_out">
            실패율
        </label>
        <input type="number" class="input_runner_1B_r2_home_out" value="0.05" step="0.01" min="0" max="1">

    </div>
    <div class="input-group">
        시도 x:
        <b class="input_runner_1B_r2_r3_safe"></b>
    </div>
    <p style="font-size: 0.9em; color: #666;">
        ※ 시도 x는 2루주자 3루 진루
    </p>

</div>
<hr>
<h3>단타: 1루주자 3루 진루</h3>
<div class="input-form">
    <div class="input-group">
        <label for="input_runner_1B_r1_r3_safe">
            성공률
        </label>
        <input type="number" class="input_runner_1B_r1_r3_safe" value="0.30" step="0.01" min="0" max="1">
    </div>
    <div class="input-group">
        <label for="input_runner_1B_r1_r3_out">
            실패율
        </label>
        <input type="number" class="input_runner_1B_r1_r3_out" value="0.05" step="0.01" min="0" max="1">
    </div>

    <div class="input-group">
        시도 x:
        <b class="input_runner_1B_r1_r2_safe"></b>
    </div>
    <p style="font-size: 0.9em; color: #666;">
        ※ 시도 x는 1루주자 2루 진루
    </p>
</div>
<hr>
<h3>2루타: 1루주자 홈 득점</h3>
<div class="input-form">
    <div class="input-group">
        <label for="input_runner_2B_r1_home_safe">
            성공률
        </label>
        <input type="number" class="input_runner_2B_r1_home_safe" value="0.7" step="0.01" min="0" max="1">
    </div>
    <div class="input-group">
        <label for="input_runner_2B_r1_home_out">
            실패율
        </label>
        <input type="number" class="input_runner_2B_r1_home_out" value="0.05" step="0.01" min="0" max="1">

    </div>
    <div class="input-group">
        시도 x:
        <b class="input_runner_2B_r1_r3_safe"></b>
    </div>
    <p style="font-size: 0.9em; color: #666;">
        ※ 시도 x는 1루주자 3루 진루
    </p>
</div>
<hr>
<h3>희생플라이</h3>
<div class="input-form">
    <div class="input-group">
        <label for="input_runner_fo_r3_home_safe">
            성공률
        </label>
        <input type="number" class="input_runner_fo_r3_home_safe" value="0.85" step="0.01" min="0" max="1">
    </div>
    <div class="input-group">
        <label for="input_runner_fo_r3_home_out">
            실패율
        </label>
        <input type="number" class="input_runner_fo_r3_home_out" value="0.05" step="0.01" min="0" max="1">
    </div>
    <div class="input-group">
        시도 x:
        <b class="input_runner_fo_r3_r3_safe"></b>
    </div>

</div>
<hr>
<h3>땅볼: 주자 1루</h3>
<div class="input-form">
    <div class="input-group">
        <label for="input_runner_go_r1_r2_out">
            1루주자만 아웃 확률
        </label>
        <input type="number" class="input_runner_go_r1_r2_out" value="0.3" step="0.01" min="0" max="1">
    </div>
    <div class="input-group">
        <label for="input_runner_go_b_r1_out">
            타자주자만 아웃 확률
        </label>
        <input type="number" class="input_runner_go_b_r1_out" value="0.3" step="0.01" min="0" max="1">
    </div>
    <div class="input-group">
        병살 확률:
        <b class="input_runner_go_double_play"></b>
    </div>
    <!--p style="font-size: 0.8em; color: #666;">※ 나머지 확률은 주자가 머무르거나 일반 아웃으로 처리됩니다.</p>
                    <hr style="wclassth: 100%; border-top: 1px da1Bed #ccc; margin: 5px 0;"-->
</div>